@{
    ViewBag.Title = "You can add a new car here!";
}

<h2  class="text-center">@ViewBag.Title</h2>
<br />

<partial name="_CarFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
