@{
    ViewBag.Title = "Contact with us";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
  
</div>
    <p class="lead mb-1 mt-3">
    <i><b>
            Dear customers, you can come to our office located at the address in the city of Sofia, Mladost 1A, bl. 535 to see the full catalog of cars we offer, as well as all the conditions for renting one.
            <br/> <br/>Our dealers will be happy to answer all your questions and concerns and help you choose the most suitable vehicle for your needs.
            <br/> <br/>In our gallery you can view part of what we offer, as well as the phones of our dealers who offer it. Feel free to look any of them up.
            <br/> We wish you luck...!
        
    </i>
    </p>
<p></p></b>
<br />
<form class="ml-2" asp-controller="Home" asp-action="Index">
    <input class="btn btn-primary" type="submit" value="<< Back" />
</form>
    


