

    <div  class="mt-4 p-5 bg-light text-center">
        <h2 class="display-4">Hello, Admin!</h2>
           <h3  class="lead mb-1 mt-3">
             <i>
                This is your administration area - you have all rights to add, edit and delete vehicles!
                <br/>You can see <b>all users and dealers</b> in the system here....!                
             </i>
           </h3>
    <br />
    <a asp-area="Admin" asp-controller="User" asp-action="All"
           class="btn btn-primary btn-lg"><i>All Users</i></a>
    </div>




